<!DOCTYPE html>
<html lang="">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>login</title>

		<link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
		<link rel="stylesheet" href="/css/login.css">
	</head>
	<body>
		<div class="container">
		    <div class="row">
		        <div class="col-md-12">
		            <div class="pr-wrap">
		            	<!-- <form class="register" action="" method="POST" role="form"> -->
			                <div class="pass-reset">
			                    <label>
			                        Enter the email or phone you signed up with</label>
			                    <input type="email" placeholder="Email" class="username" name="username" />
			                    <input type="button" id="sign-up" value="SIGN UP" class="pass-reset-submit btn btn-success btn-sm" />
			                </div>
		                <!-- </form> -->
		            </div>
		            <div class="wrap">
		            	<p class="title-error"><%= msg_error %></p>
		                <p class="form-title">Sign In</p>
		                <form class="login" action="/login" method="POST" role="form">
		                	<input type="text" placeholder="Username" id="phone" name="phone">
		                	<!-- <input type="password" placeholder="Password" /> -->
		                	<input type="submit" value="Sign In" class="btn btn-success btn-sm" />
		                </form>
		                <div class="remember-forgot">
		                    <div class="row">
		                        <div class="col-md-6 pull-right forgot-pass-content">
		                            <a href="javascription:void(0)" class="forgot-pass">Register</a>
		                        </div>
		                    </div>
		                </div>
		            </div>
		        </div>
		    </div>
		</div>
	</body>
	<script src='https://code.jquery.com/jquery-2.2.4.min.js'></script>
	<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
	<script src="/login.js"></script>
</html>