<html>
  <head>
    <title>Socket.IO chat</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/message.css">
  </head>
  <body>
    <ul id="messages">
      <% for (var i = 0; i < mess.length; i++) { %>
        <% var msg_class = '' %>
        <% if(mess[i].user_own == user_own) { %>
          <% msg_class = 'user_own' %>
        <% } else { %>
          <% msg_class = 'user_receive' } %>
        <li class="<%= msg_class %>"><%= mess[i].content %></li>
      <% } %>
    </ul>
    <form action="">
      <input id="chat-box" autocomplete="off" />
      <input type="text" class="user-own hidden" value="<%= user_own %>">
      <input type="text" class="user-receive hidden" value="<%= user_receive %>">
      <button>Send</button>
    </form>
  </body>
  <script src="/socket.io/socket.io.js"></script>
  <!-- jQuery -->
    <script src="//code.jquery.com/jquery.js"></script>
    <!-- Bootstrap JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
  <script src="/message.js"></script>

</html>