<!DOCTYPE html>
<html lang="">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Phone</title>

		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

		<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
		<!--[if lt IE 9]>
			<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.2/html5shiv.min.js"></script>
			<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
		<![endif]-->
	</head>
	<body>
		<div class="container">
			<h2>Phone List</h2>
			<ul class="list-group">
				<% for (var i = 0; i < (phones.length); i++) { %>
					<% var user = phones[i].user_id %>
					<% var msg = phones[i].content %>
					<li class="list-group-item phone" onClick="getMessage('<%= user %>')">
						<span><%= user %></span><br>
						<span class="msg_<%= user %>"><%= msg %></span>
					</li>
				<% } %>
			</ul>
		</div>
		<script src="/socket.io/socket.io.js"></script>
		<!-- jQuery -->
		<script src="//code.jquery.com/jquery.js"></script>
		<!-- Bootstrap JavaScript -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
		<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
		<script>
			var socket = io();
			//Create an event handler:
			function getMessage(phone) {
				window.location.href = '/message/'+phone;
			}
			socket.on('received message', function(msg, phone_login){
				var user_login = document.cookie;
				console.log(user_login)
				$('.msg_'+phone_login).text(msg);
			});
			// document.querySelector('.phone').addEventListener('click', sayHello)
		</script>
	</body>
</html>